
.swiper {
  width: 100% !important;
  height: 30% !important;
  overflow: visible !important;
}

.swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px !important;
  transition: all .3s ease !important;
  transform: scale(1) !important;
  opacity: .1;
}

.swiper-slide-active {
  transform: scale(2) !important;
  z-index: 2 !important;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 8px;
  width: 12px;
  height: 12px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 12px;
}


